.html{

}
.wizard-steps{
    display:inline;
}

li.wizard-step-link {
    display:block;
    float:left;
    width:200px;
}
li.wizard-step-link.selected {
    background-color: #eee;
}
.form{
    clear:both;
}
form#cat div{
    width:300px;
    float:left;
}

.manage-orga {
    float:right;
}

.orga_search li.orga {
    display: block;
    clear: both;
}

.content-left img {
    width: 250px;
    height: auto;
    float: left;
    padding-right: 15px;
}

#fiche-box img.icon, #search-fiche-box .search-fiche img.icon {
    width: 15px;
    height: 15px;
    border: none;
    float: none;
    padding: 0 15px 0 0;
    margin: 0px;
}

#fiche-box h3 {
    clear: both;
}
